.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 3em 0;
}

.inputInActive {
  border: 1px solid red;
  border-radius: 2px;
}

.inputActive {
  border-color: #cdcdcd;
}